<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Home</a>
  <!-- Collapsable Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <!-- Starting the Navbar -->
    <ul class="navbar-nav">
      <!-- THE GENRE -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
          Genre
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#" target="blank">Fantasy</a>
          <a class="dropdown-item" href="#" target="blank">Sci-Fi</a>
          <a class="dropdown-item" href="#" target="blank">Classic</a>
        </div>
      </li>
      <!-- AUTHORS -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
          Authors
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li>
            <a class="dropdown-item" href="#">
              Fantasy »
            </a>
            <ul class="dropdown-menu dropdown-submenu">
              <li>
                <a class="dropdown-item" href="#">Brandon Sanderson</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Robert Jordan</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">JRR Martin</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Patrick Rothfuss</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">More » </a>
                <ul class="dropdown-menu dropdown-submenu">
                  <li>
                    <a class="dropdown-item" href="#">Click Here</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <a class="dropdown-item" href="#">
              Sci-Fi »
            </a>
            <ul class="dropdown-menu dropdown-submenu">
              <li>
                <a class="dropdown-item" href="#">Isaac Asimov</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">James S. A. Corey</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Frank Herbert</a>
              </li>
            </ul>
          </li>
          <li>
            <a class="dropdown-item" href="#">
              Classics »
            </a>
            <ul class="dropdown-menu dropdown-submenu">
              <li>
                <a class="dropdown-item" href="#">JRR Tolkien</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Jane Austin</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Charles Dickens</a>
              </li>
            </ul>
          </li>

        </ul>

      </li>
    </ul>
  </div>
</nav>