<!-- THE HAED -->
<%- include('partials/head', {title})%>
<!-- THE NAV -->
<%- include('partials/nav')%>
<!-- THE BODY -->
<h2 class="pt-2 text-center">This is the HomePage</h2>
<!-- THE FOOTER -->
<%- include('partials/footer')%>